@font-face {
    font-family: Sahel !important;
    src: url("Sahel.eot");
    src: url("Sahel.eot?#iefix") format('embedded-opentype'),
    url("Sahel.woff") format('woff'),
    url("Sahel.ttf") format("truetype");
}

body {
    direction: rtl;
    text-align: right;
    font-family: "Sahel";
    font-size: 14px;
}