{% extends 'registration/base_login.html' %}
{% load widget_tweaks %}

{% block title %}
    بازیابی رمز عبور
{% endblock %}

{% block work %}
    بازیابی رمز عبور
{% endblock %}


{% block form_work %}
    <form method="post" class="login100-form validate-form p-b-33 p-t-5">
        {% csrf_token %}
        <div class="wrap-input100 validate-input" data-validate="Enter email">
            {{ form.email|add_class:"input100" }}
            <span class="focus-input100" style="text-align: left !important;" data-placeholder="ایمیل  &#xe84a;"></span>
        </div>
        <div class="container-login100-form-btn m-t-32">
            <button type="submit" class="login100-form-btn">
                ارسال لینک بازیابی
            </button>
        </div>

    </form>
{% endblock %}
