<!DOCTYPE html>
<html lang="en">
<head dir="rtl">
    <meta charset="UTF-8">
    <title>ارسال ایمیل با موفقیت انجام شد</title>
</head>
<body>
<div style="font-family: Sahel; text-align: center">
    <h1>تقاضای ریست رمز فرستاده شده </h1>
    <p class="alert alert-success">
        دستور العمل تنظیم گذرواژه را برایتان ایمیل کردیم، اگر با ایمیلی که وارد کردید اکانتی وجود داشته باشد باید به زودی این دستورالعمل ها را دریافت کنید.
    </p>
    <p class="alert alert-danger">
        اگر ایمیلی دریافت نمیکنید، لطفا بررسی کنید که آدرسی که وارد کرده اید همان است که با آن ثبت نام کرده اید و پوشه اسپم خود را نیز چک کنید
    </p>
</div>
</body>
</html>