{% extends 'blog/base.html' %}
{% load base_tags %}
{% load comment_tags %}


<div class="culmn">
    <!--Home Sections-->
    <!--Blog Features Section-->
    {% block subhead %}
        <section id="blog_details" class="blog_details roomy-100">
        <div class="container">
        <div class="row">

        <div class="col-md-8">
            <div class="main_blog_details">
                {% block detail %}
                    <div class="blog_details_left">
                        <div class="blog_details_img">
                            <img src="{{ object.thumbnail.url }}" alt=""/>
                        </div>
                        <div class="blog_details_content">
                            <div class="blog_details_head m-top-40">
                                <div class="blog_date">
                                    <span>29</span> <br/>
                                    <span>Jan</span>
                                </div>
                                <div class="head_text">
                                    <h2>{{ object.title }}</h2>
                                    <ul class="list-inline">
                                        <li><a href="{% url 'blog:author' object.author.username %}"
                                               class="text-black">{{ object.author.get_full_name }}</a></li>
                                        <li><h5 class="text-black">{{ object.jpublish }}</h5></li>
                                        {% if object.is_special %}
                                            <span class="badge"
                                                  style="background-color: red">مقاله ویژه</span>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                            <div class="blog_details_figure m-top-40">
                                {% if object.is_special %}
                                    {% if user.is_authenticated and user.is_special or user == object.author or user.is_superuser %}
                                        {{ object.description|safe }}
                                    {% else %}
                                        {{ object.description|truncatewords:"50"|safe }}
                                        <p class="alert alert-warning">این مقاله ویژه است و برای مشاهده آن
                                            باید <a href="#">اشتراک
                                                ویژه</a> تهیه نمایید </p>
                                    {% endif %}
                                {% else %}
                                    <p>{{ object.description|safe }}</p>
                                {% endif %}
                            </div>


                            <div class="socail_share text-right m-top-60">
                                <ul class="list-inline text-uppercase">
                                    <li>اشتراک گذاری پست</li>
                                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                    <li><a href=""><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href=""><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endblock %}

                <hr/>

                {% block comment %}
                    {% render_comments object request %}
                {% endblock %}


            </div>
        </div><!-- End off col-md-8 -->

    <div class="col-md-4">
        <div class="blog_saidbar sm-m-top-70">
            {% block categorys %}
                <div class="said_ctg fix">
                    <h6 class="text-uppercase">دسته بندی این مقاله</h6>
                    <ul class="text-uppercase m-top-40">
                        {% for cat in object.category.active %}
                            <li><a href="{% url 'blog:category' cat.slug %}">{{ cat.title }}</a></li>
                        {% endfor %}
                    </ul>
                    <br/>
                    <br/>
                    {% category_navbar %}
                </div>
            {% endblock %}
            {% block resent_post %}
                <div class="said_post fix m-top-70">
                    <h6 class="m-bottom-40 text-uppercase">مقاله های اخیر</h6>
                    {% for a in res_articles %}
                        <div class="post_item">
                            <div class="item_img">
                                <img src="{{ a.thumbnail.url }}" alt=""/>
                            </div>
                            <div class="item_text">
                                <a href="{% url 'blog:detail' a.slug %}"><h6>{{ a.title }}</h6></a>
                                {% if a.is_special %}
                                    <span class="badge" style="background-color: red">مقاله ویژه</span>
                                {% endif %}
                                <p><i class="fa fa-clock-o"></i> {{ a.jpublish }}</p>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            {% endblock %}
        </div>
    </div><!-- End off col-md-4 -->


    </div><!-- End off row -->


    </div><!-- End off container -->
    </section><!-- End off blog Fashion -->
    {% endblock %}
</div>
